<h1>Add Notebooks</h1>
<form action="/add" method="POST">
<div class="input-field">
  <input type="text" id="title" class="validate">
  <label for="title">Notebooks model</label>
</div>
<div class="input-field">
  <input type="number" id="price" class="validate">
  <label for="price">Price</label>
</div>
<div class="input-field">
  <input type="text" id="img" class="validate">
  <label for="img">URL image</label>
</div>
<button class="btn btn-primary">add</button>
</form>